:host {
    .about {
        height: 100%;
        border: 1px solid rgb(155, 155, 155);
        border-radius: 1rem;
        padding: 1rem;
        font-size: 2rem;
        text-indent: 5rem;
        text-align: justify;
        overflow-y: auto;

        &-name {
            font-weight: 700;
        }
    }
}