:host {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
    background-color: #f6f6f6;
    box-shadow: 1px 1px 10px #bababa;
    font-size: 1.25rem;
    color: #939393;

    .left {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .logo {
      width: 2rem;
      height: 3rem;
      cursor: pointer;
    }

    &-nav {
      display: flex;
      gap: 1rem;

      &-item {
        font-size: 1.25rem;
        color: #939393;

        &:hover {
          transform: scale(1.05);
          color: #5044ff;
        }
      }
    }

    &-word {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 50%;

      &-content {
        position: relative;
        color: #000;
        font-size: 1rem;
        width: 70%;

        .tooltip {
          visibility: hidden;
          width: 25vw;
          padding: 0.5rem;
          background-color: rgba(0, 0, 0, 0.75);
          color: #fff;
          text-align: center;
          border-radius: 0.5rem;
          font-size: 0.75rem;
          text-align: justify;
          cursor: default;

          position: absolute;
          top: 100%;
          z-index: 1;
        }

        &:hover .tooltip {
          visibility: visible;
        }
      }
    }

    &-conection {
      &:hover {
        transform: scale(1.05);
        color: #5044ff;
      }
    }
  }

  .active {
    color: #000;
  }

  .main {
    padding: 1rem 5rem;
    height: calc(100% - 6.5rem);

    &::before {
      content: '';
      background-image: url('../assets/fish.avif');
      background-size: 30%;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      z-index: -1;
      opacity: 0.2;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f6f6f6;
    box-shadow: 1px 1px 10px #bababa;
    font-size: 1.25rem;
    color: #939393;
  }
}
