<header class="header">
  <div class="left">
    <a [routerLink]="navigationPaths.Home">
      <img class="logo" src="assets/logo.png" alt="got media" />
    </a>
    <nav class="header-nav">
      <a
        class="header-nav-item"
        *ngFor="let nav of navigation"
        [routerLink]="nav.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ nav.tabName }}</a
      >
    </nav>
  </div>
  <div class="header-word">
    <span class="header-word-title">{{ wordTitle }}</span>
    <span *ngIf="dailyData?.word" class="header-word-content"
      >{{ dailyData.word }}
      <div class="tooltip">{{ dailyData?.description }}</div></span
    >
    <loader *ngIf="!dailyData?.word"></loader>
  </div>
  <a class="header-conection" href="danil@g0d.media">Обратная связь</a>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer"></footer>
