<section class="home">
  <div class="home-bible">
    <ngx-extended-pdf-viewer
      [src]="pdfSrc"
      [useBrowserLocale]="true"
      [enableDragAndDrop]="false"
      [enablePrint]="false"
      [textLayer]="true"
      [handTool]="false"
      [ignoreKeyboard]="true"
      [showSidebarButton]="true"
      [showDownloadButton]="true"
      [showZoomButtons]="true"
      [showFindButton]="'always-visible'"
      [showPagingButtons]="false"
      [showDrawEditor]="false"
      [showTextEditor]="false"
      [showPresentationModeButton]="false"
      [showOpenFileButton]="false"
      [showPrintButton]="false"
      [showSecondaryToolbarButton]="false"
      [showRotateButton]="false"
      [showHandToolButton]="false"
      [showScrollingButton]="false"
      [showSpreadButton]="false"
      [showPropertiesButton]="false"
    ></ngx-extended-pdf-viewer>
  </div>
  <div class="home-gpt">
    <div class="home-gpt-input">
      <input
        class="home-gpt-input-item"
        [formControl]="formControl"
        [placeholder]="placeholder"
      />
      <div class="home-gpt-input-btns">
        <button
          class="home-gpt-input-btns-item"
          type="button"
          [disabled]="loadingStatus"
          (click)="submitDescribe()"
        >
          Объясните это слово
        </button>
        <button
          class="home-gpt-input-btns-item"
          type="button"
          [disabled]="loadingStatus"
          (click)="submitLesson()"
        >
          Чему это слово учит
        </button>
      </div>
    </div>
    <div class="home-gpt-response">
      <div *ngIf="loadingStatus" class="loader">
        <loader></loader>
      </div>
      <div>{{ decribeData?.description }}</div>
      <button
        *ngIf="decribeData?.description && !continueData?.addedDescription"
        class="home-gpt-response-btn"
        [disabled]="loadingStatus"
        (click)="submitContinue()"
      >
        Дополни ответ
      </button>
      <div *ngIf="continueData?.addedDescription" class="home-gpt-response-continue">
        {{ continueData?.addedDescription }}
      </div>
    </div>
    <button
      [cdkCopyToClipboard]="decribeData?.description || ''"
      type="button"
      [disabled]="loadingStatus || !decribeData?.description"
    >
      Скопировать
    </button>
  </div>
</section>
