:host {
  .home {
    display: flex;
    gap: 1rem;
    height: 100%;
    overflow-y: auto;

    &-bible {
      flex: 1;
      display: flex;

      ngx-extended-pdf-viewer {
        flex: 1;
      }
    }

    &-gpt {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0.5rem;
      overflow-y: auto;

      &-input {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-item {
          border: 1px solid rgb(155, 155, 155);
          border-radius: 1rem;
          outline: none;
          padding: 0 1rem;
          line-height: 2.5;
        }

        &-btns {
          display: flex;
          justify-content: space-between;
          gap: 0.5rem;

          &-item {
            flex: 1;
          }
        }
      }

      &-response {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        position: relative;
        padding: 1rem;
        border: 1px solid rgb(155, 155, 155);
        border-radius: 1rem;
        overflow-y: auto;

        &-btn {
          padding: 0.5rem;
        }

        .loader {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
        }

        loader {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
      }
    }
  }

  button {
    border: none;
    border-radius: 1rem;
    height: 2rem;
    background-color: #f6f6f6;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(155, 155, 155);

    &:hover {
      box-shadow: 1px 1px 15px rgb(168, 168, 168);
    }

    &:disabled {
      cursor: not-allowed;
      &:hover {
        box-shadow: 1px 1px 5px rgb(155, 155, 155); 
      }
    }
  }

  ::ng-deep {
    pdf-editor {
      display: none;
    }
  }
}
