.lds-dual-ring {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 6px solid #b6b6b6;
  border-color: #b6b6b6 transparent #b6b6b6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
