/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
